COMPOSE_PROJECT_NAME=tutor-production
APP_ENV=production
IMAGE_REPOSITORY={{ image_repository }}
TUTORBOARD_IMAGE_REPOSITORY={{ tutorboard_image_repository }}
GEOMETRYOS_IMAGE={{ geometryos_image }}
ACTIVE_SLOT=blue
BLUE_RELEASE={{ backend_release }}
GREEN_RELEASE={{ backend_release }}
SCHEDULER_RELEASE={{ backend_release }}
OPS_RELEASE={{ backend_release }}
TUTORBOARD_BLUE_RELEASE={{ tutorboard_release }}
TUTORBOARD_GREEN_RELEASE={{ tutorboard_release }}

APP_DOMAIN={{ app_domain }}
ACME_EMAIL={{ acme_email }}
PUBLIC_BASE_URL=https://{{ app_domain }}
TRUSTED_HOSTS={{ app_domain }}
TRUSTED_PROXY_IPS=172.16.0.0/12
BOOTSTRAP_ORGANIZATION_NAME="{{ bootstrap_organization_name }}"
BOOTSTRAP_ORGANIZATION_SLUG={{ bootstrap_organization_slug }}
BOOTSTRAP_ADMIN_EMAIL={{ bootstrap_admin_email }}
BOOTSTRAP_ADMIN_NAME="{{ bootstrap_admin_name }}"

BBB_DEMO_MODE={{ bbb_demo_mode | ternary('true', 'false') }}
BBB_BASE_URL={{ bbb_base_url }}
TRANSCRIPTION_PROVIDER={{ transcription_provider }}
TRANSCRIPTION_WEBHOOK_URL={{ transcription_webhook_url }}
DOCUMENT_ENGINE_PROVIDER={{ document_engine_provider }}
DOCUMENT_ENGINE_URL={{ document_engine_url }}
GEOMETRYOS_LOG_LEVEL=INFO
GEOMETRYOS_MAX_CONCURRENT_OPERATIONS=8

ARTIFACT_S3_ENDPOINT_URL=http://minio:9000
ARTIFACT_S3_REGION=us-east-1
ARTIFACT_S3_BUCKET=tutor-artifacts
BACKUP_S3_BUCKET={{ backup_s3_bucket }}
BACKUP_S3_PREFIX={{ backup_s3_prefix }}
BACKUP_S3_ENDPOINT_URL={{ backup_s3_endpoint_url }}
BACKUP_S3_REGION={{ backup_s3_region }}
BACKUP_S3_ACCESS_KEY={{ backup_s3_access_key }}
ARTIFACT_RETENTION_DAYS=365
BOARD_COMMAND_MAX_SIZE_MB=5
BOARD_SNAPSHOT_MAX_SIZE_MB=50
BOARD_SNAPSHOT_INTERVAL_COMMANDS=100
BOARD_SNAPSHOT_INTERVAL_MB=5
BOARD_RETENTION_DAYS=365
BOARD_DELETE_GRACE_DAYS=30
RATE_LIMIT_BOARD_READS=600
RATE_LIMIT_BOARD_WRITES=300
BACKUP_RETENTION_DAYS=35
BACKUP_INTERVAL_SECONDS=79200

SENTRY_ENVIRONMENT=production
OTEL_SERVICE_NAME=tutor-assistant-web
GRAFANA_ADMIN_USER=admin
ALERT_WEBHOOK_URL={{ alert_webhook_url }}
POSTGRES_DB=tutor
POSTGRES_USER=tutor
MINIO_ROOT_USER=tutor-root
S3_APP_ACCESS_KEY=tutor-app

MINIMUM_HOST_MEMORY_MB=16384
MINIMUM_HOST_DISK_GB=40
DOCKER_LOG_MAX_SIZE=20m
DOCKER_LOG_MAX_FILES=5
